<html>
 <head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://unpkg.com/vue"></script>
 </head>

 <body>
  <h1>New Transaction</h1>
  <div id="app">
    {{ message }}
  </div>

  <div id="app-2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds
      to see my dynamically bound title!
    </span>
  </div>

  <div id="app-3">
    <p v-if="seen">Now you see me</p>
  </div>  

  <div id="app-4">
    <button v-for="product in products">
      {{ product.text }}
    </button>
  </div>
  <button>
    Done
  </button>
  <button>
    New Item
  </button>

  <script type="text/javascript" charset="utf-8">
    new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue.js!'
      }
    })

    var app2 = new Vue({
      el: '#app-2',
      data: {
        message: 'You loaded this page on ' + new Date()
      }
    })

    var app3 = new Vue({
      el: '#app-3',
      data: {
        seen: true
      }
    })

    var app4 = new Vue({
      el: '#app-4',
      data: {
        products: [
          { text: 'Peppermills' },
          { text: 'Pens' },
          { text: 'Pizza Cutters' },
          { text: 'Ice Cream Scoops' },
          { text: 'Seam Rippers'},
          { text: 'Corkscrews'},
          { text: 'Steampunk Lamps'},
          { text: 'Maps'},
          { text: 'Clocks'},
          { text: 'Spirtle'},
          { text: 'Crib boards'},
          { text: 'Muddler'},
          { text: 'Rolling Pin'},
          { text: 'Shaving Kit'}
        ]
      }
    }) 

  </script>
 </body>
</html>